# Dependencies
node_modules/
.pnp
.pnp.js

# Environment
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Uploads & Temp
uploads/
tmp/

# Build
dist/
.angular/
.cache/

# OS & Editors
.DS_Store
Thumbs.db
.vscode/
.idea/
